# URL ของ Cloudflare Worker API (ไม่ต้องมี /search ต่อท้าย)
VITE_API_URL=http://localhost:8787

# URL ของ Python Backend Server (แก้ไขให้เป็น IP ของเครื่อง HewkawAr)
VITE_PYTHON_API_URL=http://localhost:8000
