S3_BUCKET=your-bucket-name
S3_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
IMAGES_DIR=./images
BACKEND_URL=http://localhost:8787/index
CONCURRENCY_LIMIT=5
